@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;

}
h1{
    color:white;
}
img{
    height: auto;
}
/*.container img{
    height: 90vh;
    width: 100vw;
}*/
/*main > .container {
    padding: 60px 15px 0;
}*/

/*Header*/
.navbar-area {
    background-color: white ;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sticky .navbar {
    padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .sticky .navbar {
        padding: 15px 0;
    }
}

.sticky .navbar .navbar-nav .nav-item a {
    color: #162447;
}

.sticky .navbar .navbar-nav .nav-item a::before {
    color: #162447;
}

.sticky .navbar .navbar-toggler .toggler-icon {
    background: #162447;
}

.navbar {
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar {
        padding: 17px 0;
    }
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    max-width: 180px;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav {
        padding: 20px 30px;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item {
        margin-left: 0px;
    }
}

.navbar-nav .nav-item a {
    font-size: 27px;
    font-weight: 400;
    color: #212121;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #ffd700;
    bottom: 15px;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a::before {
        top: auto;
        bottom: 0;
    }}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: inline-block;
        padding: 6px 0px;
        color: #162447;
    }
}

.navbar-nav .nav-item a:hover::before, .navbar-nav .nav-item a.active::before {
    width: 100%;
}
.contactBtn{
    background-color: #ffd700 ;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    padding: 1.7rem !important;
}
.BarrocYellow{
    color: #ffd700 ;
}
.contactBtn:hover{
    color: white;
}


.klant_aanmaken {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
    margin-left: 3%;
    font-size: larger;
    color: white;
}
/*Index*/
.bg-vid {

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(5px);

    /* Full height */
    height: 100%;
    width: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
    font-family: 'Big Shoulders Display', cursive;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-size: 38px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 25px;

}
.customCard{
    background:  #212121;
    border-radius: 50px;
}
.roundedImg{

}
